<section>
    <img src="../../../assets/lovered.png" alt="Contact Image">
    <p class="image-text">Connect with us for any inquiries or assistance.</p>

    <form>
      <label for="name">Your Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Your Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="message">Your Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit">Send Message</button>
    </form>
  </section>
