<header>
  <div class="logo">
  </div>
  <h1 style="font-family: 'French Script MT', cursive;;">&quot;The Lord Our God Is One Lord &quot;/Deut 4-6/</h1>
</header>

<nav>
  <a mat-button routerLink="home" routerLinkActive="active-link">Home</a>
  <a mat-button routerLink="articles" routerLinkActive="active-link">Articles</a>
  <a mat-button routerLink="blogs" routerLinkActive="active-link">Blogs</a>
  <a mat-button routerLink="teaching" routerLinkActive="active-link">Teaching</a>
  
  <a mat-button routerLink="resorce" routerLinkActive="active-link">Resource</a>
  
  <a mat-button routerLink="contact" routerLinkActive="active-link">Contact</a>
  <a mat-button routerLink="about" routerLinkActive="active-link">About</a>
  <a mat-button routerLink="login" routerLinkActive="active-link">Login</a>


</nav>