
<footer class="footer">
  <div class="content">
    <!-- Social Icons Section -->
    <section class="social-icons-section">
      <div class="social-icons">
        <!-- <a href="#" target="_blank" matTooltip="Facebook"><mat-icon>facebook</mat-icon></a>
        <a href="#" target="_blank" matTooltip="TikTok"><mat-icon>tiktok</mat-icon></a>
        <a href="" target="_blank" matTooltip="feedback"><mat-icon>feedback</mat-icon></a> -->
        
        <!-- Add more social icons as needed -->
      </div>
      
    </section>

    <hr> <!-- Add a horizontal line -->

    <!-- Contact Information Section -->
    <section class="contact-info-section">
      <div class="contact-info">
        <!-- Location -->
        <div class="location">
          <!-- <mat-icon>location_on</mat-icon> -->
          <p>Your Company, Street Address, City</p>
        </div>

        <!-- Phone -->
        <div class="phone">
          <!-- <mat-icon>phone</mat-icon> -->
          <p>+1 (123) 456-7890</p>
          
        </div>

        <!-- Offices -->
        <div class="offices">
          <div class="office">
            <h3>Office 1</h3>
            <p>Address: Office 1 Address, City</p>
            <p>Phone: +1 (XXX) XXX-XXXX</p>
          </div>
          <div class="office">
            <h3>Office 2</h3>
            <p>Address: Office 2 Address, City</p>
            <p>Phone: +1 (XXX) XXX-XXXX</p>
          </div>
          <div class="office">
            <h3>Office 2</h3>
            <p>Address: Office 2 Address, City</p>
            <p>Phone: +1 (XXX) XXX-XXXX</p>
          </div>
          <div class="office">
            <h3>Office 2</h3>
            <p>Address: Office 2 Address, City</p>
            <p>Phone: +1 (XXX) XXX-XXXX</p>
          </div>
          <!-- Add more offices as needed -->
        </div>
        
      </div>
    </section>

    <hr> <!-- Add a horizontal line -->

    <!-- Copyright Section -->
    <section class="copyright-section">
      &copy; 2023 International Apostolic Church. All rights reserved.
    </section>
  </div>
</footer>
